.navbar {
  text-align: top;
  background-color: #77a1f5;
  float: left;
}

.nav-header {
  background-color: #77a1f5;
  color: white;

  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
}

.nav-link {
  color: #f4f8fa;
}
.nav li {
  display: inline-block;
}
